html,
body {
  background-image: var(--background-image-main);
  
  background-size: contain;
  background-blend-mode:hard-light ;
  background-attachment: fixed;
background-color:rgba(0, 0, 0, 0.863);


  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root{
--background-image-main: url(/img/background/background.png);
}

 

/*  DE pus Query pt Iphone */
/* @media screen {
  body{
    background-attachment: scroll;
  }
} */